/*RESPONSIVE DE TAIEL AL FINAL (LINEA 480)*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  max-width: 100vw;
}

#loginContainer{
  position: absolute;
  left: 0;
  top: 0;
  width: min-content;
  height: min-content;
  background-color: transparent;
}


:root {
  --color1: rgb(0, 0, 0);
  --color2: rgb(22, 22, 22);
  --color3: rgb(45, 45, 45);
  --color4: rgb(91, 91, 91);
  --color5: rgb(238, 238, 238);
  --color6: rgb(28, 28, 28);
}

body {
  background-color: var(--color1);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 1em 2em 1em 1em;
}

a {
  text-decoration: none;
}

li{
  list-style: none;
}
/*configurar grilla*/

article.container-grid {
  width: 100%;
  max-width: 100%;
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 1fr;
  gap: 1em;
  height: 100%;
}

/*aside*/

aside.asideSection {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20% 74vh;
  gap: 1em;
}

/*nav*/

section.nav {
  background-color: var(--color2);
  height: 100%;
  border-radius: 1em;
}

section.nav ul.nav-containerItems {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding:  0 0 0 2em;
  justify-content: space-evenly;
}

section.nav ul.nav-containerItems li.nav-itemElement button{
  background-color: transparent;
  border: none;
}


section.nav ul.nav-containerItems li.nav-itemElement button {
  display: flex;
  gap: 1em;

}

section.nav ul.nav-containerItems li.nav-itemElement button  svg{
  height: 1.5em;
  fill: var(--color4);
}

section.nav ul.nav-containerItems li.nav-itemElement button h6{
  font-size: 1.5em;
  color: var(--color4)

}

/*biblioteca*/

section.biblio {
  height: 100%;
  background-color: var(--color2);
  border-radius: 1em;
  padding: 1.5em 1em 1em 1em;
  overflow-y: auto;
}

section.biblio::-webkit-scrollbar{
  background-color: transparent;
}

section.biblio::-webkit-scrollbar-thumb{
  background-color: transparent;
  border-radius: 1em;
}

section.biblio:hover::-webkit-scrollbar-thumb{
  background-color: var(--color3);
}

section.biblio div.biblio-header{
  display: flex;
  gap: 1em;
  align-items: center;
  position: relative;
}

section.biblio div.biblio-header .itemH{
  display: flex;
  align-items: center;
  gap: 1em;
}

section.biblio div.biblio-header svg{
  fill: var(--color4);
  height: 1.2em;
}

section.biblio div.biblio-header svg.plusButton{
  position: absolute;
  right: 0;
  top: 0;
  margin: .4em 0 0 0;
}

section.biblio div.biblio-header h6{
  color: var(--color4);
  font-size: 1.2em;
}

section.biblio div.biblio-main{
  display: flex;
  flex-direction: column;
  margin: 2em 0 0 0;
  color: var(--color5);
  gap: 1em;
}

/*--logged*/

section.biblio div.biblio-main section.favouritesAlbums-logged-column{
  display: flex;
  flex-direction: column;
  gap: .5em;
}

section.biblio div.biblio-main section.favouritesAlbums-logged-column button.elementAlbumLogged{
height: 5em;
padding: .1em .1em .1em .4em;
border-radius: .3em;
background-color: transparent;
transition: all .1s ease-in-out;
display: flex;
align-items: center;
border: none;
}

section.biblio div.biblio-main section.favouritesAlbums-logged-column button.elementAlbumLogged:hover{
background-color: var(--color3);
}

section.biblio div.biblio-main section.favouritesAlbums-logged-column button.elementAlbumLogged a{
display: flex;
gap: 1.2em;
width: 100%;
}

section.biblio div.biblio-main section.favouritesAlbums-logged-column button.elementAlbumLogged div.imageAlbum{
width: 3em;
height: 100%;
display: grid;
place-items: center;
}

section.biblio div.biblio-main section.favouritesAlbums-logged-column button.elementAlbumLogged div.imageAlbum img{
width: 4.3em;
height: 100%;
border-radius: .3em;
}

section.biblio div.biblio-main section.favouritesAlbums-logged-column button.elementAlbumLogged div.nameAlbum{
display: flex;
flex-direction: column;
justify-content: center;
text-align: left;
padding: 0 0 0 .5em;
gap: .3em;
}

section.biblio div.biblio-main section.favouritesAlbums-logged-column button.elementAlbumLogged div.nameAlbum div.albumName{
font-weight: bold;
color: var(--color5);
font-size: 1.1em;
}

section.biblio div.biblio-main section.favouritesAlbums-logged-column button.elementAlbumLogged div.nameAlbum div.artistName{
color: var(--color4);
}

section.biblio button#cerrarSesionBtn{
  background-color: red;
  color: white;
  border-radius: 1em;
  width: 10em;
  padding: 1em;
  margin: 2em 0 0 0;
  border: none;
  font-weight: bolder;
}

/*--fin logged*/

section.biblio div.biblio-main div.biblioCard{
  display: flex;
  flex-direction: column;
  gap: .5em;
  background-color: var(--color3);
  border-radius: .5em;
  padding: .8em;

}

section.biblio div.biblio-main div.biblioCard h6{
  font-size: 1.1em;
}

section.biblio div.biblio-main div.biblioCard p{
  font-size: .9em;
}

section.biblio div.biblio-main div.biblioCard button{
  margin: 1em 0 0 0;
  padding: .6em 1.2em;
  width: max-content;
  border-radius: 1em;
  border: transparent;
  background-color: white;
  font-weight: bold;
  transition: all .2s ease-in;
}

section.biblio div.biblio-main div.biblioCard button:hover{
  padding: .8em 1.4em;
  border-radius: 1.2em;
}

div.biblio-footer ul.legalThings {
  padding: 4em 0 0 0;
}

div.biblio-footer ul.legalThings li{
  display: inline;
  margin-right: .9em;
}

div.biblio-footer ul.legalThings li a{
  color: var(--color4);
}

div.biblio-footer ul.legalThings li a:hover{
  text-decoration: underline;
}

section.biblio button.translateButton{
  display: flex;
  align-items: center;
  gap: .5em;
  margin: 2em 0 0 0;
  padding: .5em .8em;
  border-radius: 1em;
  border: 1px solid var(--color4);
  color: var(--color5);
  background-color: transparent;
  font-size: .9em;
  transition: all .1s ease-in-out;
}

section.biblio button.translateButton:hover{
  padding: .7em 1em;
  border-radius: 1.2em;
}

section.biblio button.translateButton svg{
  fill: var(--color5);
  height: 1.7em;
}

#biblioteca-nav{
  display: none;
}
/*fin de aside*/

/*main*/

main.mainContent {
  background: linear-gradient(to bottom, var(--color3), var(--color2), var(--color2), var(--color2));
  border-radius: 1em;
  padding: 1em;
  color: var(--color5);
  overflow-x: auto;
  position: relative;
}

main.mainContent::-webkit-scrollbar{
  background-color: transparent;
}

main.mainContent::-webkit-scrollbar-thumb{
  background-color: transparent;
  opacity: 0;
  transition: all .2s ease-in-out;
}

main.mainContent:hover::-webkit-scrollbar-thumb{
  background-color: var(--color3);
  opacity: 1;
  border-radius: 2em;
  width: 2em;
  transition: all .2s ease-in-out;
}

main.mainContent header h1{
  font-size: 2em;
}

main.mainContent header section.favouritesAlbums-logged {
  margin: 2em 0 0 0;
  width: 100%;
  height: 8em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: .5em;
}

main.mainContent header section.favouritesAlbums-logged button{
  background-color: var(--color3);
  border: none;
  border-radius: .3em;
  display: flex;
  transition: all .2s ease-in-out;
}

main.mainContent header section.favouritesAlbums-logged button:hover{
  background-color: var(--color4);
}

main.mainContent header section.favouritesAlbums-logged button .imageAlbum{
  height: 100%;
  width: 5em;
}

main.mainContent header section.favouritesAlbums-logged button .imageAlbum img{
  height: 100%;
  width: 5em;
  border-radius: .3em 0 0 .3em;
}

main.mainContent header section.favouritesAlbums-logged button div.nameAlbum{
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  font-size: 1.2em;
  padding: 0 0 0 .5em;
  color: var(--color5);
}

main.mainContent article.bodyOfContent {
  padding: 3em 0 0 0;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

main.mainContent article.bodyOfContent section {
  width: 100%;
}

main.mainContent article.bodyOfContent section div.containerElements {
  display: flex;
  gap: 2em;
  flex-wrap: nowrap;
  overflow-x: scroll;
  margin: 0 0 0 0;
  padding: 2em 0 1em 0;
}

@media (width >=1275px) {
  main.mainContent article.bodyOfContent section div.containerElements {
    justify-content: space-around;
    overflow: hidden;
  }
}

main.mainContent article.bodyOfContent section div.containerElements article.element {
  background-color: var(--color6);
  padding: 1em 1em 1.5em 1em;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  width: max-content;
  gap: 1em;
  width: 11em;
  position: relative;
  transition: all .2s ease-in-out;
}

main.mainContent article.bodyOfContent section div.containerElements article.element a{
  color: var(--color5);
}

main.mainContent article.bodyOfContent section div.containerElements article.element:hover{
  background-color: var(--color3);
}

main.mainContent article.bodyOfContent section div.containerElements article.element button.goToSpotifyBtn{
  background-color: rgb(83, 255, 83);
  height: 3.5em;
  width: 3.5em;
  border-radius: 50%;
  border: none;
  display: grid;
  place-items: center;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 1em 4em 0;
  opacity: 0;
  transition: all .1s ease-in;
  box-shadow: -1px 8px 22px -5px rgba(0,0,0,0.75);
-webkit-box-shadow: -1px 8px 22px -5px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 8px 22px -5px rgba(0,0,0,0.75);
}

main.mainContent article.bodyOfContent section div.containerElements article.element button.goToSpotifyBtn:hover{
  transition: all .1s ease-in;
  height: 3.8em;
  width: 3.8em;
  margin: 0 1.3em 4.3em 0;
  display: grid;
  place-items: center;
}

main.mainContent article.bodyOfContent section div.containerElements article.element button.goToSpotifyBtn svg{
  height: 1.5em;
}

main.mainContent article.bodyOfContent section div.containerElements article.element div.img {
  height: 9em;
  width: 9em;
  background-color: var(--color1);
}

main.mainContent article.bodyOfContent section div.containerElements article.element div.img img {
  object-fit: cover;
  height: 9em;
  width: 9em;
}

main.mainContent article.bodyOfContent section div.containerElements article.element h3.nombre {
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 1em;
  margin: .5em 0 0 0;
}

main.mainContent article.bodyOfContent section div.containerElements article.element div.artista {
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: var(--color4);
}

/*footer*/

footer.footer {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 3em 0 5em 0;
}

footer.footer section.aboutUse {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}


footer.footer section.aboutUse article ul{
  margin: .8em 0 0 0;
  display: flex;
  flex-direction: column;
  gap: .5em;
}

footer.footer section.aboutUse article ul li a{
  color: var(--color4);
}

footer.footer section.aboutUse article ul li a:hover{
  text-decoration: underline;
}

footer.footer article.media{
  display: flex;
  gap: 1.5em;
  justify-content: end;
}
footer.footer article.media button{
  height: 3.5em;
  width: 3.5em;
  border-radius: 50%;
  fill: var(--color5);
  background-color: var(--color3);
  border: none;
  display: grid;
  place-items: center;
  transition: all .2s ease-in-out;
}

footer.footer article.media button a{
  height: 100%;
  width: 100%;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

footer.footer article.media button a svg{
  height: 1.7em;
  transition: all .2s ease-in-out;
  fill: var(--color5);
}

section.aboutLegalUse {
  display: flex;
  position: relative;
  padding: 1em 0 0 0;
}

section.aboutLegalUse ul {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 1em;
  text-align: left;
  gap: 10px;
}

section.aboutLegalUse ul li {
  font-size:.9em;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  text-align: left;
}

section.aboutLegalUse ul li a{
  color: var(--color4);
  transition: all .2s ease-in-out;
}

section.aboutLegalUse ul li a:hover{
  color: var(--color5);
  font-weight: bold;
}

section.aboutLegalUse div.copyright{
  color: var(--color5);
}
/*fin de main*/

/*RESPONSIVE A LOS 815PX, NAVBAR DE MÓVIL Y BIBLIOTECA OUT OF SIGHT XD*/
@media (max-width: 859px){
  section.nav{
    visibility: visible;
    position: fixed;
    bottom: 0;
    left:0;
    border-radius: 0;
    z-index: 2;
    width: 100%;
    height: 12%;
  }
  ul.nav-containerItems{
    position: fixed;
  }
  section.nav ul.nav-containerItems li.nav-itemElement button a h6{
    font-size: 2em;
  }
  section.nav ul.nav-containerItems li.nav-itemElement button a svg{
    height: 2em;
  }
  li.nav-itemElement{
    position: fixed;
    top: 617px;
    margin-left: 5%;
  }
  section.biblio{
    visibility: visible;
    position: fixed;
    right: -800px;
    transition: right 0.5s ease;
    z-index: 1;
  }

  aside.asideSection{
    visibility: hidden;
  }

  article.container-grid{
    display: flex;
  }

  #buscar{
     margin-left: 35%;
  }
  #biblioteca-nav{
    display: flex;
    margin-left: 67%;
  }
  main.mainContent{
    margin-bottom: 20px;
  }
}

/*RESPONSIVE A LOS 655 PORQUE SE ROMPE TODO: FUERA EL FOOTER E ICONOS EN VEZ DE SVG+TEXTO*/
@media(max-width: 655px) {
  footer.footer{
    display: none;
  }
  
  main.mainContent{
    margin-bottom: 50px;
  }
 
  section.nav ul.nav-containerItems li.nav-itemElement button a h6{
    display: none;
  }
  section.nav ul.nav-containerItems li.nav-itemElement button a svg{
    height: 3.2em;
    margin-left: 3em;
  }
}
@media(max-width:520px){
  section.nav ul.nav-containerItems li.nav-itemElement button a svg{
    margin-left: 1em;
  }
  #buscar{
    margin-left: 37%;
  }
  #biblioteca-nav{
    margin-left: 70%;
  }
}
@media(max-width:400px){
  section.nav ul.nav-containerItems li.nav-itemElement button a svg{
    margin-left: 0.5em;
  }
  #biblioteca-nav{
    margin-left: 68%;
  }
}
@media(max-width:280px){
  section.nav ul.nav-containerItems li.nav-itemElement button a svg{
    height: 2.2em;
    margin-left: 5%;
  }
}

#iniciarSesionId.boton{
  cursor: pointer;
}

#modoInvitadoId.boton{
  cursor: pointer;
}

section.favouritesAlbums-logged button.elementAlbumLogged a{
  position: absolute;
  width: 100%;
  height: 100%;
}
section.favouritesAlbums-logged button.elementAlbumLogged{
  position: relative;
}

